.EmailModal-Background,
.EmailModal-FormDiv,
.EmailModal-Form,
.EmailModal-SubjectDiv,
.EmailModal-SubjectLabel,
.EmailModal-Subject,
.EmailModal-BodyDiv,
.EmailModal-BodyLabel,
.EmailModal-Body,
.EmailModal-BtnDiv {
  display: flex;
}

.EmailModal-Background {
  width: 100%;
  height: 95%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.EmailModal-FormDiv {
  border: 2px solid #ff9442;
  border-radius: 8px;
  background-color: white;
  width: 100vh;
  height: 80vh;
}

.EmailModal-Form {
  flex-direction: column;
  padding: 20px 20px;
  flex-grow: 1;
}

.EmailModal-SubjectDiv {
  flex-direction: column;
  width: auto;
  margin-bottom: 15px;
}

.EmailModal-Subject {
  flex-grow: 1;
  height: 25px;
  border: 2px solid black;
  padding-left: 5px;
  border-radius: 5px;
}

.EmailModal-BodyDiv {
  flex-grow: 1;
  flex-direction: column;
}

.EmailModal-Body {
  flex-grow: 1;
  border: 2px solid black;
  padding: 8px 8px;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  resize: none;
  border-radius: 5px;
}

.EmailModal-BtnDiv {
  justify-content: flex-end;
  margin-top: 15px;
}

.EmailModal-CancelBtn {
  border: 2px solid #ff9442;
  box-shadow: 2px 2px 2px gray;
  width: fit-content;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
  color: #ff9442;
  align-self: flex-end;
  margin-right: 15px;
}

.EmailModal-SendBtn {
  border: 2px solid #ff9442;
  box-shadow: 2px 2px 2px gray;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ff9442;
  color: #ffffff;
  align-self: flex-end;
}
