.Leaderboard,
.Leaderboard-Topbar,
.Leaderboard-List,
.Leaderboard-MemberInfo-lightgrey,
.Leaderboard-MemberInfo-white {
  display: flex;
}

.Leaderboard {
  background-color: white;
  flex-direction: column;
  width: 90vh;
  height: 87vh;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
}

.Leaderboard-Topbar {
  padding-left: 10px;
  min-height: 50px;
  align-items: center;
  border-bottom: 2px solid #ff9442;
}

.Leaderboard-List {
  flex-direction: column;
  overflow: auto;
}

.Leaderboard-MemberInfo-lightgrey,
.Leaderboard-MemberInfo-white {
  min-height: 25px;
  align-items: center;
  padding-left: 10px;
}

.Leaderboard-MemberInfo-lightgrey {
  background-color: #dfdfdf;
}

.Leaderboard-Firstname {
  width: 35vh;
  text-align: left;
}

.Leaderboard-Lastname {
  width: 35vh;
  text-align: left;
}

.Leaderboard-Points {
  width: 10vh;
  text-align: left;
}
