.MemberModal,
.MemberModal-Topbar,
.MemberModal-Body,
.MemberModal-InGroup,
.MemberModal-NotInGroup,
.MemberModal-CatagoryLabels,
.MemberModal-Buttons,
.MemberModal-Background,
.MemberModal-InGroupMembers,
.MemberModal-NotInGroupMembers,
.MemberModal-RemoveButton,
.MemberModal-AddButton {
  display: flex;
}

.MemberModal-Background {
  width: 100%;
  height: 95%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.MemberModal {
  flex-direction: column;
  border: 2px solid #ff9442;
  border-radius: 8px;
  background-color: white;
  width: 100vh;
  height: 80vh;
}

.MemberModal-Topbar {
  min-height: 30px;
  margin: 10px 10px;
  border-bottom: 2px solid #ff9442;
}

.MemberModal-CatagoryLabels {
  justify-content: space-around;
}

.MemberModal-Body {
  flex-grow: 1;
  flex-direction: row;
  padding: 10px;
}

.MemberModal-InGroup,
.MemberModal-NotInGroup {
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid #ff9442;
  border-radius: 5px;
  overflow: scroll;
  height: 66vh;
  min-width: 48.2vh;
}

.MemberModal-NotInGroup {
  margin-right: 10px;
}

.MemberModal-Buttons {
  align-self: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
}

.MemberModal-LightButton {
  border: 2px solid #ff9442;
  box-shadow: 2px 2px 2px gray;
  width: fit-content;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
  color: #ff9442;
  align-self: flex-end;
  margin-right: 15px;
}

.MemberModal-DarkButton {
  border: 2px solid #ff9442;
  box-shadow: 2px 2px 2px gray;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #ff9442;
  color: #ffffff;
}

.MemberModal-InGroupMembers,
.MemberModal-NotInGroupMembers {
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.MemberModal-MemberDiv {
  flex-grow: 1;
}

.MemberModal-RemoveButton,
.MemberModal-AddButton {
  border-radius: 8px;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  font-family: monospace;
  font-weight: bold;
  border-color: #d3d3d3;
}

.MemberModal-RemoveButton {
  background-color: #ff9442;
  color: white;
  font-size: 20px;
}

.MemberModal-AddButton {
  background-color: white;
  color: #ff9442;
  font-size: 25px;
}
